body {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.article-image {
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.article-image:hover {
    box-shadow: 0px 0px 10px green;
}

.article-title {
    background-color: skyblue;
    padding: 8px;
}

.article-text {
    text-align: justify;
}

#site-title {
    text-shadow: 0 0 5px #aaa;
}
